@(cards: List[List[Int]])

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Printable Page</title>
    <style type="text/css">
        a.outer {
        float:left;
        width:203px;
        height:289px;
        overflow:hidden;
        position:relative;
        }
        img.inner {
        float:left;
        position:absolute;
        top:-10px;
        left:-10px;
        }
    </style>
</head>
<body>
@for(page <- cards) {
<div style="page-break-before:always;">
    @for(multiverseid <- page) {
    <a href="http://gatherer.wizards.com/pages/card/Details.aspx?multiverseid=@(multiverseid)" class=outer>
        <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=@(multiverseid)&type=card" class=inner alt="card image"/>
    </a>
    }
</div>
<div>　</div><!-- for page-break-before -->
}
</body>
</html>
