@()

@layout("MTG プロキシ印刷ウェブアプリケーション") {
<script src="@routes.Assets.at("javascripts/index.js")"></script>
<div class="row">
    <div class="twelve columns">
        <nav class="top-bar">
            <ul>
                <li class="name">
                    <h1>
                        <a href="/">MTG プロキシ印刷ウェブアプリケーション</a>
                    </h1>
                </li>
            </ul>
        </nav>
    </div>
    <section class="twelve columns">
        <h4>使い方</h4>
        <ol>
            <li>
                印刷したいカードをMTG公式データベース
                <a href="http://gatherer.wizards.com/Pages/Default.aspx">Gatherer</a>で検索する
                <ul class="circle"><li>正常に検索できない場合言語設定が正しくない可能性がある。
                    <a href="http://d.hatena.ne.jp/den8/20110710/1310288086">こちら</a>を参考に確認</li></ul>
            </li>
            <li>
                検索結果のURLからmultiverseidという値をコピーする
                <ul class="circle"><li>「http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=<span style="color:red">265718</span>」の赤い部分</li></ul>
            </li>
            <li>コピーした値を下のmultiverseidの部分へ貼り付ける(※デフォルトの値265718は酸のスライム)</li>
            <li>印刷したい枚数を先ほど貼りつけたフォームの右に入力</li>
            <li>印刷したいカードをすべて入力し終わったらボタンを押す</li>
        </ol>
    </section>
    <div class="row">
        <section class="six columns">
            <h4>印刷用ページの特徴と注意点</h4>
            印刷用ページとして表示される画面は一見カードの画像が無造作に並んでるように見えますが、
            実際には上手く印刷されるようにいくつかの工夫がされています。
            <ul class="circle">
                <li>スリーブへカードと一緒に入れることを考慮して画像の周囲をトリミング</li>
                <li>印刷時にA4サイズに合わせて3x3=9枚でカード画像をタイリング</li>
            </ul>
        </section>
        <section class="six columns">
            <h4>TODO(できたらいいな)リスト</h4>
            <ul class="circle">
                <li>MOのデッキリストを読み込んでmultiverseidを自動入力</li>
                <li>MTGカード検索ダイアログを作ってgathererで検索する手間を省く</li>
                <li>入力フォームが不必要に多いためJSで数を調整できるようにする</li>
                <li>印刷用ページが非常に見づらくわかりにくいので最低限レイアウトを整える</li>
                <li>印刷用ページのCSSがイマイチなので修正</li>
                <li>機能改善・要望・クレーム用のフォームを作る</li>
                <li>送信された値のヴァリデーションやエラー処理をしっかりする</li>
                <li>カード画像に「PROXY」という透かしを入れる機能をつける(有無を選択できるようにする)</li>
                <li>
                    印刷用ページを簡単に共有できるようにする(permalink, getパラメータでカード情報渡す, など)
                    <ul>
                        <li>付随してカードの種類・枚数情報を保持しつつ印刷用ページからトップページへ戻れるようにする</li>
                    </ul>
                </li>
                <li>backbone.jsを使ってHistory APIを使ったページ遷移を実装する</li>
            </ul>
        </section>
    </div>
    <div class="twelve columns">
        <div id="search_dialog" class="row" title="カード検索ダイアログ">
            <div class="twelve columns">
                <form>
                    @for(row <- List(List(("カード名", "card_name"), ("マナコスト（合計）", "converted_mana_cost"), ("特殊タイプ", "supertypes")),
                    List(("カードタイプ", "cardtypes"), ("サブタイプ", ""), ("カードテキスト", "")),
                    List(("フレーバーテキスト", ""), ("透かし", ""), ("色指標", "")),
                    List(("パワー", ""), ("タフネス", ""), ("忠誠度", "")),
                    List(("エキスパンション", ""), ("レアリティ", ""), ("含まれるカードセット", "")),
                    List(("カード番号", ""), ("アーティスト", ""), ("マルチバースID", "")))) {
                    <div class="row">
                        @for(a <- row) {
                        <div class="four columns">
                            <label>@(a._1):<input type="text" placeholder="@(a._1)" id="@(a._2)"/></label>
                        </div>
                        }
                    </div>
                    }
                    <a class="button" href="#" onclick="return onButtonClick();">検索</a>
                </form>
            </div>
        </div>
        <div id="select_dialog" class="row" title="カード選択ダイアログ">
        </div>
        @helper.form(routes.Application.card_images, 'id -> "cardlist") {
        <fieldset>
            <legend>カード入力フォーム</legend>
            <div align="center">
                <input type="submit" class="button" value="印刷用ページを表示" />
            </div>
            @for(row <- 0 until 10) {
            <div class="row">
                @for(column <- 0 until 2) {
                <div class="six columns">
                    <fieldset>
                        @defining(row * 2 + column) { index =>
                        <legend>@(index + 1)カード目</legend>
                        <div class="row">
                            <div class="eight columns">
                                <label>multiverseid:<input type="number" name="multiverseid[@(index)]" value="265718" id="mid_input_@(index)" /></label>
                            </div>
                            <div class="four columns">
                                <label>枚数:<input type="number" name="number_of_card[@(index)]" value="0" /></label>
                            </div>
                        </div>
                        }
                    </fieldset>
                </div>
                }
            </div>
            }
        </fieldset>
        }
    </div>
    <div class="twelve columns" align="center">
        <small>
            改善要望・クレーム・希望その他もろもろはこっちに<br />
            k.bigwheel+proxyprintあっとまーくgmail.com
        </small>
    </div>
</div>
}