@(message: String)

@import helper._

@main("Welcome to Play 2.0") {
<div class="row">
    <div class="twelve columns">
        <nav class="top-bar">
            <ul>
                <li class="name">
                    <h1>
                        <a href="/">Proxy Print</a>
                    </h1>
                </li>
            </ul>
        </nav>
    </div>
    <div class="twelve columns">
        @form(routes.Application.index) {
        <fieldset>
            <legend>fieldset</legend>
            @for(index <- Range(0,30)) {
            <fieldset>
                <legend>@(index+1)カード目</legend>
                <div class="row">
                    <div class="six columns">
                        <label>multiverseid:<input type="number" name="multiverseid_@(index)" value="265718" /></label>
                    </div>
                    <div class="six columns">
                        <label>枚数:<input type="number" name="number_of_card_@(index)" value="0" /></label>
                    </div>
                </div>
            </fieldset>
            }
        </fieldset>
        }
    </div>
</div>
}