@()

@layout("MTG プロキシ印刷ウェブアプリ") {
<div class="row">
    <nav class="top-bar">
        <ul>
            <li class="name">
                <h1>
                    <a href="/">MTG プロキシ印刷ウェブアプリ</a>
                </h1>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <h1>MTG プロキシ印刷ウェブアプリ</h1>
</div>
<section class="row">
    <h3>このサイトは？</h3>
    Magic:The Gatheringの<a href="http://mtgwiki.com/wiki/%E3%83%97%E3%83%AD%E3%82%AD%E3%82%B7">プロキシ</a>を印刷するためのアプリケーションです。
    主にMagic Onlineでプレイしてるプレイヤーがリアルでも友人とデッキ調整できるようにするために作っています。
</section>
<div class="row">
    <div class="six columns">
        <section class="row">
            <h4>用意するもの</h4>
            <ul class="circle">
                <li>使わないカード75枚</li>
                <li>カードスリーブ75枚</li>
                <li>PCとプリンタ(PDF化してコンビニで印刷するなどの方法も)</li>
                <li>作りたいデッキのカード種類と枚数の情報</li>
            </ul>
        </section>
        <section class="row">
            <h4>使い方</h4>
            <ol>
                <li>
                    使いたいカードの情報を下のフォームですべて入力
                    <ul>
                        <li>「カードを検索」ボタンを押してカードを検索</li>
                        <li>検索結果のカード一覧から使いたいカードを選択</li>
                        <li>そのカードを使いたい枚数を指定</li>
                        <li>さらに使いたいカードがあれば「カード入力欄を追加」ボタンからフォームを増やす</li>
                    </ul>
                </li>
                <li>「印刷用ページを表示」ボタンを押す</li>
                <li>ブラウザの印刷フォームからページを印刷。この際印刷プレビューでページごとに3x3=9枚ずつタイル状に配置されてることを確認する</li>
                <li>印刷したカード画像を1枚ずつ切る</li>
                <li>切り離したカード画像と使用しないカードを一緒にスリーブ内へ入れる</li>
                <li>75枚いれればプロキシデッキのできあがり</li>
            </ol>

        </section>
    </div>
    <div class="six columns">
        <section class="row">
            <h4>印刷用ページの特徴と注意点</h4>
            印刷用ページとして表示される画面は一見カードの画像が無造作に並んでるように見えますが、
            実際には上手く印刷されるようにいくつかの工夫がされています。
            <ul class="circle">
                <li>スリーブへカードと一緒に入れることを考慮して画像の周囲をトリミング</li>
                <li>印刷時にA4サイズに合わせて3x3=9枚でカード画像をタイリング</li>
            </ul>
        </section>
        <section class="row">
            <h4>TODO(できたらいいな)リスト</h4>
            <ul class="circle">
                <li>言語によって印刷するカードを変更できるようにする(スクレイピング処理の修正が必要)</li>
                <li>MOのデッキリストを読み込んでmultiverseidを自動入力</li>
                <li>印刷用ページが非常に見づらくわかりにくいので最低限レイアウトを整える</li>
                <li>印刷用ページのCSSがイマイチなので修正</li>
                <li>機能改善・要望・クレーム用のフォームを作る</li>
                <li>送信された値のヴァリデーションやエラー処理をしっかりする</li>
                <li>カード画像に「PROXY」という透かしを入れる機能をつける(有無を選択できるようにする)</li>
                <li>
                    印刷用ページを簡単に共有できるようにする(permalink, getパラメータでカード情報渡す, など)
                    <ul>
                        <li>付随してカードの種類・枚数情報を保持しつつ印刷用ページからトップページへ戻れるようにする</li>
                    </ul>
                </li>
                <li>backbone.jsを使ってHistory APIを使ったページ遷移を実装する</li>
            </ul>
        </section>
    </div>
    <div class="twelve columns" id="cards_input_form">
        @helper.form(routes.Application.card_images, 'id -> "cardlist") {
        <fieldset>
            <legend>カード入力フォーム</legend>
            <div class="row">
                <div class="three columns" align="center">
                    <a class="secondary button" id="add_card_input_form_button">カード入力欄を追加</a>
                </div>
                <div class="three columns" align="center">
                    <a class="secondary button" id="remove_card_input_form_button">カード入力欄を削減</a>
                </div>
                <div class="three columns" align="center">
                    <input type="file" id="decklist" name="decklist" />
                </div>
                <div class="three columns" align="center">
                    <input type="submit" class="success button" value="印刷用ページを表示" />
                </div>
            </div>
            <ul class="block-grid three-up" id="card_list_for_print">
            </ul>
        </fieldset>
        }
    </div>
    <div class="twelve columns" align="center">
        <small>
            改善要望・クレーム・希望その他もろもろはこっちに<br />
            kbig.wheel+proxyprintあっとまーくgmail.com
        </small>
    </div>
    <div id="search_dialog" class="row" title="カード検索ダイアログ" style="display:none;">
        <div class="twelve columns">
            <form>
                <ul class="block-grid three-up">
                    @for(attr <- List(("カード名(英語のみ)", "card_name"), ("マナコスト（合計）", "converted_mana_cost"), ("特殊タイプ", "type.supertypes"),
                    ("カードタイプ", "type.cardtypes"), ("サブタイプ", "type.subtypes"), ("カードテキスト", "card_text"),
                    ("フレーバーテキスト", "flavor_text"), ("透かし", "watermark"), ("色指標", "color_indicator"),
                    ("パワー", "p_t.power"), ("タフネス", "p_t.toughness"), ("忠誠度", "loyalty"),
                    ("エキスパンション", "expansion"), ("レアリティ", "rarity"),/* ("含まれるカードセット", ""),*/
                    /*("カード番号", ""), */("アーティスト", "artist")/*, ("マルチバースID", "")*/)) {
                    <li>
                        <label>@(attr._1):<input type="text" placeholder="@(attr._1)" name="@(attr._2)"/></label>
                    </li>
                    }
                </ul>
                <div align="center">
                    <input type="submit" class="button" id="card_search_button" value="検索">
                </div>
            </form>
        </div>
    </div>
    <div id="select_dialog" class="row" title="カード選択ダイアログ" style="display:none;">
    </div>
    <script type="text/template" id="card_print_form">
        <li class="card-print-form">
            <fieldset>
                <legend><%= index + 1 %>カード目</legend>
                <div align="center" class="div_card_image">
                    <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=265718&type=card" width='111' height='155'>
                </div>
                <div class="row">
                    <div class="nine columns">
                        <label>multiverseid:
                            <div class="row collapse">
                                <div class="six columns">
                                    <a class="button expand prefix card_search_button" index="<%= index %>">カードを検索</a>
                                </div>
                                <div class="six columns">
                                    <input type="number" class="input_card_number" name="mid[<%= index %>]" value="265718" id="mid_input_<%= index %>" />
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="three columns">
                        <label>枚数:<input type="number" name="num[<%= index %>]" value="1" min="0"></label>
                    </div>
                </div>
            </fieldset>
        </li>
    </script>
</div>
}
